<!--
File : about.ejs
Name : Rutvik Patel
Student ID : 301302391
Date : 07 Feb 2023
-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
  <main class="container">
    <h1 class ="display-3" style="text-align: center; color: #472D30;">Welcome to the <%=title %> Page</h1>
  </main>
  
<br>
  
  <img  class="mx-auto d-block" src="./Assets/images/Photo.jpg" style="width:250px; height: 250px;">

  <h1 class ="display-5" style="color:  #472D30; text-align: center;">Rutvik Patel</h1>
  <br>
  <p style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 210%; color: rgb(85, 85, 85);">I am a smart learner, quick responder, fast achiever, and trouble-shooter. I had made three projects: Tele-health web portal, Ecommerce website, Travel site. I am a reliable and friendly person who can handle multiple responsibilities simultaneously with precision and perfection. </p>
  <p style="font-size: xx-large; color:  #472D30; text-align: center;">Click below to download my resume.</p>
  
    <a class="btn btn-lg" style="background-color:  #472D30; color: white; margin-left: 48%; margin-bottom: 10px;" role="button" href="./Assets/documents/Rutvik.pdf" download="Resume.pdf">Download</a>
   
    <p class="lead">
      <a class="btn btn-lg" href="/projects" style="background-color: #472D30; color: white; margin-left: 48%;" role="button">Projects ></a>
    </p>

</div>

  
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
