<!--
File : projects.ejs
Name : Rutvik Patel
Student ID : 301302391
Date : 07 Feb 2023
-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
  <main class="container">
    <!--<div class="jumbotron"><h1 class="display-4">welcome to the <%=title%> Page</h1></div>-->
    <div class="jumbotron" style="background-color:#ffffff ;">
      <br/>
      <h1 class ="display-3" style="text-align: center; color: darkcyan;">Projects List</h1>
      <br/>
      <br/>
  
       <div class="row">
         <div class="column left">
           <h2 style="text-align: start; color: darkcyan; font-size: 200%;">Tele-Health Web Portal</h2>
                      <p  style = "padding-left:20px; text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 170%; color: rgb(85, 85, 85);">&nbsp;&nbsp;&nbsp;&nbsp;It is a web portal that manages all records of Doctors and Patients.
              The web portal contains major features like "User Login, User Registration, Configuration of all features like Appointment Booking of Patient, Old Record Storage, Uploading Reports, Getting Doctor Prescription etc.</p>

         </div>
         
         <div class="column right">

           <img class="rounded" src="./Assets/images/TeleHealth.png" style = "height: 250px; margin-left: 100px;">

         </div>

       </div>

       <div class="row">
         
         
         <div class="column left">
           <h2 style="text-align: start; color: darkcyan; font-size: 200%;">Ecommerce website</h2>
           <p  style = "padding-left:20px; text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 170%; color: rgb(85, 85, 85);">&nbsp;&nbsp;&nbsp;&nbsp;The aim of the project is to implement the Ecommerce website. There is a listing of Products to Provide a Shopping facility.
            It Contains user-friendly Features like shopping for Products, Order status and Email Verification, Coupon Code to Apply for the best discount.</p>

         </div>
         <div class="column right">

           <img class="rounded" src="./Assets/images/Ecommerce.png" style = "height: 250px; margin-left: 100px;">

         </div>
       </div>

       <div class="row">
         <div class="column left">
           <h2 style="text-align: start; color: darkcyan; font-size: 200%;">Travels Site</h2>

           <p  style = "padding-left:20px; text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 170%; color: rgb(85, 85, 85);">&nbsp;&nbsp;&nbsp;&nbsp;“Travels Site” is a website which contains basic modules like Login, Registration, City Listing etcetera. The website provides a way by which users can see the photographs of places and estimated cost of tour.
            </p>

         </div>
         
         <div class="column right">

           <img class="rounded" src="./Assets/images/Travel.png" style = "height: 250px; margin-left: 100px;">
         </div>
       </div>
     
    </div>    
    <p class="lead">
      <a class="btn btn-lg" href="/services" style="background-color: #472D30; color: white; margin-left: 48.5%;" role="button">Services ></a>
    </p>

  </main>


<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
