<!--
File : services.ejs
Name : Rutvik Patel
Student ID : 301302391
Date : 07 Feb 2023
-->


<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  

    <!--<div class="jumbotron"><h1 class="display-4">welcome to the <%=title%> Page</h1></div>-->
    <h1 class ="display-4" style="text-align: center;">Services provided by me:</h1>
    


  <div class="jumbotron" style="background-color: darkgrey;">
    <h1 class ="display-4" style="text-align: center; color:darkcyan;"></h1>
    <div class="row">
     <div class="column left">
       <h2 style="text-align: start; color: darkcyan; font-size: 170%;">Mobile Application Development</h2>
       <img class="rounded" src="./Assets/images/mobile.png" style = "height: 250px; margin-left: 20px;">
       <p class="card-text mt-3" style="font-size: 130%;">We turn brilliant ideas into successful projects. Our team of highly skilled IT experts will help you build a fast, UI-friendly mobile application that users love.</p>
      </div>
     
   <br>
   <br>
   </div>
   <div class="row">
     <div class="column left1">
    </div> 
     
  
     <div class="column right1">
      <br>
      <br>
       <h2 style="color: darkcyan; font-size: 170%;">Web Application Development</h2>
       <img class="rounded" src="./Assets/images/web application development.png" style = "height: 250px; margin-left: 20px;">
       <p class="card-text mt-3" style="font-size: 130%;">We can make applications, platforms and products to meet the requirements of your business or new venture.
       </p>
     </div>
   </div>
   <br>
   <br>
   <div class="row">
     <div class="column right1">
      <br>
      <br>
       <h2 style="text-align: start; color: darkcyan; font-size: 170%;">Programming Services</h2>
       <img class="rounded" src="./Assets/images/programming.png" style = "height: 250px; margin-left: 20px; ">
       <p class="card-text mt-3" style="font-size: 130%;">We understand that your legacy products must seamlessly integrate with emerging ones while retaining the data and processes they were originally designed to capture and support.</p>
      </div>
     <div class="column right">

    </div>
   </div>

   <div class="row">
     <div class="column left1">
     </div>
     
     
   </div> 
    <a class="btn btn-lg" href="/contact" style="background-color: #472D30; color: white; margin-left: 48.5%;" role="button">Contact me ></a>
  </div>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
